.App {
  text-align: center;
  background-color: #ECDEEE;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

.title {
  font-size: 10vh;
  font-family: 'Ysabeau Light';
  color: #5d066b;
  padding: 2vh;
}

.warning {
  font-size: 18px;
  font-family: 'Ysabeau BoldItalic';
  color: #fc2f92;
  padding: 10px;
}

.invalid-field {
  border-color: #fc2f92 !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Ysabeau Light';
  src: local('Ysabeau Light'), url('./fonts/Ysabeau_Office/static/YsabeauOffice-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Ysabeau BoldItalic';
  src: local('Ysabeau BoldItalic'), url('./fonts/Ysabeau_Office/static/YsabeauOffice-BoldItalic.ttf') format('truetype');
}